<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- поля подключения к базе -->
    <add key="ip" value="gRfCv8M6ZlkUg5KauHVPHg==" />
    <add key="port" value="KkiCUQfocewPfe6xRB7w2A==" />
    
    <add key="userIdAdmin" value="7hj46Qfu0o8weHPKA+j8kA==" />
    <add key="passwdAdmin" value="2DiNCMXI0C2lbnv4rfSQ2g==" />
    
    <add key="userIdStaff" value="sa8rP9QoHpqDDjB4mL8oTw==" />
    <add key="passwdStaff" value="YZpWbcmggA9TPBu8gc+zOg==" />
    
    <add key="userIdUser" value="XG2N4jlJnruXcGHBvXwk+A==" />
    <add key="passwdUser" value="DJKzsZFksn/j2gllxZxfYQ==" />
    
    <add key="userIdLogin" value="4BycixEwXtLxAvMc6Zbaug==" />
    <add key="passwdLogin" value="2DiNCMXI0C2lbnv4rfSQ2g==" />
    
    <add key="dataBase" value="2SIDNP1I7rnaFMehANCSPA==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>